
.button {
  background-color: #4056A1;
  font-size: 25px;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
}

.bttnandcutn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.avatar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}

.counter{
  background: transparent;
  font-size: 25px;
  font-family: 'Bungee', cursive;
}

.textBox{
  width: 100%;
  padding: 0;
  border: none;
  background: none;
  margin-bottom: 10px;
  align-items: center;
  border-bottom: 3px solid black;
  
  
}
.error-message {
  display:none;
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  float: left;
  padding: 20px 30px;
} 

/* used to make counter  values red when - */
.negNum{
  color: red;
}