
.button {
  background-color: #4056A1;
  font-size: 25px;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
}

.bttnandcutn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.counter{
  background: transparent;
  font-size: 25px;
  font-family: 'Bungee', cursive;
}

.textBox{
  font-size: 25px;
  font-family: 'Bungee', cursive;
  background: transparent;
  border: 0px none;
  border-bottom:4px solid black;
  padding: 0 20em;
  
}
.error-message {
  display:none;
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  float: left;
  padding: 20px 30px;
} 

/* used to make counter  values red when - */
.negNum{
  color: red;
}